<!DOCTYPE html>
<html>
<head>
    <title>Quizzes in {{ chapter.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h2>Quizzes in {{ chapter.name }}</h2>
        <ul class="list-group">
            {% for quiz in quizzes %}
                <li class="list-group-item">
                    {{ quiz.remark }} - 
                    <a href="{{ url_for('user.attempt_quiz', quiz_id=quiz.id) }}">Start Quiz</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
